@using SMARTchat.BLL.DTOs
@model SMARTchatWEB.Models.EmailViewModel
@{
    ViewBag.Title = "Form for invition your friends";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SMARTchat | Сhat</title>
    <link rel="stylesheet" href="~/Content/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">
</head>
<body  class="register" id="invite_body">
        <p class="button28">@Html.ActionLink("Back to chat", "Index", "Chat",(ChannelDTO)@Model.Channel, FormMethod.Get)</p>
            
    <div class="invite_container">
       <h2>Invite your friend</h2>
        <h4>Fill next fields</h4>
        <section class="form-invite">
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
                   <div id="hide"> @Html.EditorFor(m => m.Channel.Name)</div>
                    @Html.EditorForModel()
                   <div class="mainButton" > <input type="submit" value="Submit" /></div>
                </fieldset>
            }
        </section>
    </div>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
   

