@using SMARTchat.BLL.DTOs
@model ChannelDTO
@{
    ViewBag.Title = "Conversations";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTchat | Сhat</title>
    <link rel="stylesheet" href="~/Content/channelsStyle.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">
    @section scripts
    {
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    }
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="list1">
                <ul>
                    <li>@Html.ActionLink("Profile", "Profile", "Chat")</li>
                    <li>@Html.ActionLink("Favorite", "Favorites", "Chat")</li>
                    <li>@Html.ActionLink("Log out", "Login", "Account")</li>
                </ul>
            </div>  
        </header>
        <div>
            <h3>My conversations</h3>
            <div class="list8">
                <ol>
                    @foreach (var chl in (IEnumerable<ChannelDTO>)ViewData["Channels"])
                    {
                        <li>@Html.ActionLink(chl.Name, "Index", chl)</li>
                    }
                </ol>
           </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
           <section class="webdesigntuts-workshop">
                <div class="forms">
                    @using (Html.BeginForm("Create", "Chat"))
                    {
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "New channel...", @Value = Model.Name })
                        <button type="submit">Create</button>
                    }
                    @using (Html.BeginForm("Find", "Chat"))
                    {
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Search...", @Value = Model.Name })
                        <button type="submit">Find</button>
                    }
                </div>
                
            </section>
            
        </div>
        </div>
</body>
</html>