@using SMARTchat.BLL.DTOs
@model ChannelDTO
@{
    ViewBag.Title = "Mainchat";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTchat | Сhat</title>
    <link rel="stylesheet" href="~/Content/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">
    @section scripts
    {
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/jquery.signalR-2.1.2.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/Scripts/hub.js")
    }
</head>
<body>
<header class="smarticon">
    @*<img src="~/Content/Images/Vaultboy1.jpg" alt="NightMegapolice">*@
    <strong id="ch_name">@Html.DisplayFor(m => m.Name)</strong>
    <button class="delete_icon" id="removeChannel"></button>
    <button class="rename_icon" ></button>
    <div id="edit_box"><input type="text" id="channelName" value="@Model.Name"/><button class="rename_ok" id="renameChannel"></button></div>
    <span class="log">@Html.ActionLink("Log out", "Login", "Account")</span>
</header>
    <div class="chat-wrap">
        <div id="sidebar">
            <ul class="users"></ul>
        </div>
        <div class="chatContainer">
                @*<div class="chat_name">
                    @Html.DisplayFor(m => m.ChannelId)
                    @Html.TextBoxFor(m => m.Name, new { id = "channelNam" })
                    <button type="button"  class="w8-button green">Rename</button>
                    <button type="button"  class="w8-button red">Delete</button>
                </div>*@
                <div id="messagebox">
                    <table class="messages"></table>
                </div>
                    <div class="footer-panel">
                        <form>
                            @*<button type="button" class="addCode"> <span class="fa fa-code fa-2x" aria-hidden="true"></span></button>*@
                            <textarea id="message" wrap="virtual" placeholder="Type your message here..."></textarea>
                            <span id="send">
                                <input id="sendMessage" type="button" value="Send" />
                                <input id="sendEditedMessage" type="button" value="Save changes" style="display: none;" />
                                <input id="userId" type="hidden" value="" />
                                <input id="userName" type="hidden" value="" />
                                <input id="userImage" type="hidden" value="" />
                            </span>
                        </form>
                    </div>
        </div>

        <div id="rightsidebar">
            <ul>
                <li id="profile_icon">@Html.ActionLink("My profile", "Profile", "Chat")</li>
                <li id="favorite_icon">@Html.ActionLink("Favorite", "Favorites", "Chat")</li>
                <li id="convers_icon">@Html.ActionLink("Conversations", "GetChannels", "Chat")</li>
                <li id="invite_icon">@Html.ActionLink("Invite Friend", "Create", "SendEmail", @Model, FormMethod.Get)</li>
            </ul>
        </div>
    </div>
    @Html.HiddenFor(m => m.ChannelId, new { id = "channelId" })
    @Html.HiddenFor(m => m.Name, new { id = "channelName" })
<script type="text/javascript">
    SyntaxHighlighter.all()
</script>
</body>
</html>