@using SMARTchat.BLL.DTOs
@model UserDTO
@{
    ViewBag.Title = "UserProfile";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTchat | Сhat</title>
    <link rel="stylesheet" href="~/Content/style.css" media="screen" type="text/css"/>
</head>
<body class="profile-wrap">
        
        <header align="left" id="profile_head">
            @*<img src="~/Content/Images/fires.jpg" alt="SMARTbusiness">*@
            <div  class="prof_nav"><ul>
                <li>@Html.ActionLink("Conversations", "Index", "Chat")</li>
                <li>@Html.ActionLink("Log out", "Login", "Account")</li>
            </ul></div>
        </header>
    
<div id="prof_container">
    <p class="info">User Information</p>
        <div class="first">
        <div id="li">
            <strong>  <p>Name:</p></strong>
            <strong><p>Last Name:</p></strong>
            <strong> <p>Email:</p></strong>
        </div>
        <div id="st">
            <span>@Model.Name</span>
            <span>@Model.LastName</span>
            <span>@Model.Email</span>
        </div>
    </div>
        
    <div id="avatar">
       <div id="ava"> @Html.Raw("<img style: width='200px' height='220px' src=\"data:image/jpeg;base64,"
                  + Model.Image + "\" />") <p>@Model.Name</p></div>
        @using (Html.BeginForm("Profile", "Chat",
            FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="btn_container">
                <label class="file_upload">
                    <button class="submit">Load</button>
                    <input type="file" name="Image">
                </label>
                <input class="submit" type="submit" value="Save"/>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var wrapper = $(".file_upload"),
            inp = wrapper.find("input"),
            btn = wrapper.find(".button"),
            lbl = wrapper.find("mark");

        // Crutches for the :focus style:
        inp.focus(function () {
            wrapper.addClass("focus");
        }).blur(function () {
            wrapper.removeClass("focus");
        });

        var file_api = (window.File && window.FileReader && window.FileList && window.Blob) ? true : false;

        inp.change(function () {
            var file_name;
            if (file_api && inp[0].files[0])
                file_name = inp[0].files[0].name;
            else
                file_name = inp.val().replace("C:\\fakepath\\", '');

            if (!file_name.length)
                return;

            if (lbl.is(":visible")) {
                lbl.text(file_name);
                btn.text("Выбрать");
            } else
                btn.text(file_name);
        }).change();

    });
    $(window).resize(function () {
        $(".file_upload input").triggerHandler("change");
    });

</script>
</body>
</html>